.userComp {
  font-size: 2rem;
  border: red solid 2px;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: orange;  
}

input{
  font-size: 1.5rem;
}

.otherData {
  background-color: rgb(93, 172, 209);
  font-size: 20px;
  margin-right: 40px;
}

div>button{
  background-color: rgb(218, 208, 68);
  font-size: 20px;
  margin: 2px;
}

.todosComp{
  position: absolute;
  right: 20rem;
  transform: translate(-30%, -150%)

}